.slideshow02 {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131a60', endColorstr='#262626',GradientType=0 );}
.slideshow .slide .holder {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#1affffff',GradientType=0 );}
.intro .holder {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#33ffffff',GradientType=0 );}
.heading-performances {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000c88', endColorstr='#1e3c9c',GradientType=0 );}
.content-block .content-holder,
.tabset-block.alt:before {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2ebf9', endColorstr='#ffffff',GradientType=0 );}
.categories-box .heading {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f1b8f', endColorstr='#1d3b9c',GradientType=0 );}
.categories-box .search-form03 {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );}
.container { max-width:970px !important;}
.content-block {max-width:1039px;}
.contact-form textarea {
	max-width:381px;
	min-width:381px;
	width:381px;
}
.search-form02:after {
	position:absolute;
	content:"";
	left:50%;
	width:970px;
	margin-left:-485px;
	height:6px;
	background:#d2f05a;
	bottom:-12px;
}
.visual .logo-holder:after{display:none;}
.search-form .search {margin-bottom:3px;}
.content-holder .alt {position:relative;}
.content-holder .alt:after {
	position:absolute;
	content:"";
	left:50%;
	width:970px;
	margin-left:-485px;
	height:6px;
	background:#d2f05a;
	bottom:-24px;
} 
.tabs-holder02 .frame {max-width:947px;}
.contact-box .holder {max-width:940px;}
.inner02 .heading-block .holder {max-width:810px;}
.release-post.active h1 {max-width:940px;}
.search-form04 input[type="submit"] {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 );}
.tabs-holder .heading-box,
.tabs-holder02 .frame {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000c88', endColorstr='#1e3c9c',GradientType=0 );}
.alt-box:before{filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2ebf9', endColorstr='#ffffff',GradientType=0 );}
.visual .calendar-holder{filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#66ffffff',GradientType=0 );}
.fancybox-ie #fancybox-bg-n { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_n.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-ne { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_ne.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-e { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_e.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-se { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_se.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-s { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_s.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-sw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_sw.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-w { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_w.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-nw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancybox/fancy_shadow_nw.png', sizingMethod='scale'); }
.register-form .form-control{max-width:380px;}
.visual .logo-holder:before{background: #fff;}
.subscribe-box{background: #010e89;}
.decoration02 {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2ebf9', endColorstr='#ffffff',GradientType=0 );}
.heading-block02 {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111c90', endColorstr='#1d3a9b',GradientType=0 );}
.heading-block03 {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b2695', endColorstr='#3651a6',GradientType=0 );}
.add-options-form .text-holder .btn-box {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 );}
.select-own .heading-block05 {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08138c', endColorstr='#25429f',GradientType=0 );}
.slider-holder { border:1px solid #e5e5e5; }
@media (max-width: 767px) {
	.slideshow02 .text-block {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131a60', endColorstr='#262626',GradientType=0 );}
	.contact-form textarea {
		max-width:273px;
		min-width:273px;
		width:273px;
	}
	.search-form02:after {display:none;}
	.content-holder .alt:after {
		background:#c0bebe;
		height: 1px;
	}
	.alt-box:before{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececed', endColorstr='#ffffff',GradientType=0 );}
	.register-form .form-control{max-width:359px;}
	.decoration,
	.decoration02 {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeff0', endColorstr='#ffffff',GradientType=0 );}
	.heading-block03.alt02 {filter:none;}
}